<!DOCTYPE html>
<html>
<head>
    <title>登录页面</title>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/element-ui/2.15.9/theme-chalk/index.css">
    <style>
        .a .el-form-item__label {
            color: white
        }

    </style>
</head>
<body>
<div id="app">
    <el-container>
        <el-header height="80px" style="background-color: #E8E8E8">
            <el-row gutter="20">
                <el-col span="12" style="position: relative">
                    <img src="/img/WechatIMG21.png" width="196" height="65">
                    <span style="height:50px; color:darkseagreen;line-height: 65px;font-size: 30px;position: absolute;top: 5px">纸片阅读:想让你秃头</span>
                </el-col>
                <el-col span="6"></el-col>
                <el-col span="6" style="position: absolute ;top: 5px;right: 5px">
                    <a href="reg.html">注册账号</a>
                </el-col>
            </el-row>
        </el-header>
        <el-main style="background-image: url('/img/9476.gif_wh300.gif');
                    height: 500px;background-size: cover;
                    background-position: center">
            <el-card style="width: 500px;height: 500px;margin: 50px auto;float: right;background-color:#666666 ">
                <el-form label-width="80px" style="width: 400px;margin: 50px 10px 50px; ">
                    <el-form-item  class="a" label="用户名">
                        <el-input placeholder="请输入用户名" v-model="user.username"></el-input>
                    </el-form-item>
                    <el-form-item class="a" label="密码">
                        <el-input @keydown.native.enter="login()" type="password" placeholder="请输入密码" v-model="user.password"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary"  @click="login()">登录</el-button>
                        <a href="forget.html">忘记密码</a>
                    </el-form-item>
                </el-form>
            </el-card>
        </el-main>
        <el-footer style="height: 350px;background-color: darkseagreen;padding: 50px 0">
            <div class="center" style="text-align: center;color: #666">
                <el-row>
                    <el-col span="12">
                        <img src="WechatIMG21.png">

                    </el-col>
                    <el-col span="12">
                        <el-row id="footer_center">
                            <el-col span="12">
                                <h3>纸片读书网</h3>
                                <p>关于纸片</p>
                                <p>隐私协议</p>
                                <p>版权声明</p>
                                <p>用户协议</p>
                            </el-col>
                            <el-col span="12">
                                <h3>加入纸片</h3>
                                <p>签约作者</p>
                                <p>广告投放</p>
                                <p>社会招聘</p>
                                <p>友情链接</p>
                            </el-col>

                        </el-row>

                    </el-col>

                </el-row>
            </div>
        </el-footer>
    </el-container>
</div>
</body>
<!-- import Vue before Element -->
<script src="https://cdn.staticfile.org/vue/2.6.14/vue.min.js"></script>
<!-- import JavaScript -->
<script src="https://cdn.staticfile.org/element-ui/2.15.9/index.min.js"></script>
<!--引入Axios-->
<script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
<script>
    let v = new Vue({
        el: '#app',
        data: function () {
            return {
                user: {
                    username: "", password: "", nickname: "", admin: ""
                }

            }
        },
        methods: {
            login() {
                if (v.user.username.length == 0 || v.user.password.length == 0) {
                    v.$message.error("选项不能为空");
                    return;
                }

                axios.post("/v1/users/login", v.user).then((function (response) {
                    if (response.data.code == 1000) {
                        v.$message.success("登录成功");
                        /*控制不同权限用户登录成功后跳转的页面*/
                        localStorage.user = JSON.stringify(response.data.data);
                        /*第一次拆分*/
                        let storage=localStorage.user.split('[{"authority":"');

                        for (let i = 0; i < storage.length; i++) {
                            console.log(storage[i])
                            console.log(storage[1].split('"}]'))
                            /*第二次拆分过去第一个数组元素值*/
                            if (storage[1].split('"}]')[0] === 'ROLE_admin') {
                                console.log(1)
                                location.href = "admin.html";
                                break;
                            }
                            if (storage[1].split('"}]')[0] === 'ROLE_bookadmin') {
                                console.log(2)
                                location.href = "bookadmin.html";
                                break;
                            }
                            if (storage[1].split('"}]')[0] === 'user') {
                                console.log(3)
                                location.href = "/";
                                break;
                            }
                        }


                        /*    break;
                        case 1001:
                            v.$message.error("用户名或密码错误还有2次机会!");
                            break;
                        case 1002:
                            v.$message.error("用户名或密码错误还有1次机会!");
                            break;
                        case 1003:
                            v.$message.error("今日机会已用尽,请点击忘记密码前往验证,更换密码!")
                            break;*/
                    } else {
                        v.$message.error(response.data.misDescription);
                    }
                }));
            }
        }
    })
</script>
</html>